$background-color: #121212;
$text-color: #fff;
$modal-bg-color: rgba(0, 0, 0, 0.9);
$tab-bg-color: rgb(18, 19, 36);
$tab-hover-bg-color: rgb(36, 37, 59);
$tab-active-bg-color: rgba(72, 73, 105);
$input-bg-color: #333;
$submit-btn-color: #0a84ff;
$submit-btn-hover-color: #006edc;
$border-color: #666666;

body {
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 20px;
}

h1, h2, p {
    margin: 0 0 20px;
}

form {
    background-color: $input-bg-color;
    padding: 20px;
    border-radius: 8px;
}

label, select, textarea, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;

    &::selection {
        padding: 10px;
        border-radius: 4px;
        border: none;
        background-color: $input-bg-color;
        color: $text-color;
    }
}

.submit-button {
    width: 50%;
    height: 40px;
    font-size: medium;
}

select {
    width: auto;
    background-color: $input-bg-color; // Use your theme's input background color
    color: $text-color; // Use your theme's text color
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid $border-color; // Use your theme's border color
    font-family: 'Roboto', sans-serif; // Match the font to your theme
    font-size: 16px;
    cursor: pointer;
    background-size: 15px;

    &:hover {
        background-color: darken($input-bg-color, 10%); // Darken on hover
    }

    &:focus {
        border-color: $submit-btn-color; // Highlight color on focus
    }
}

input[type="submit"] {
    background-color: $submit-btn-color;
    color: $text-color;
    cursor: pointer;

    &:hover {
        background-color: $submit-btn-hover-color;
    }
}

.prompt-checkbox-group {
    width: auto;
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
    clear: both;
    float: left;
}

.prompt-checkbox {
    width: auto;
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
    clear: both;
}

.prompt-checkbox-label {
    clear: both;
    width: auto;
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
}

#charCount {
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: small;
}

#result-section {
    margin-top: 20px;
}

.gen-image {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $modal-bg-color;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform 0.25s ease; // Smooth zoom transition
    }

    .close {
        position: absolute;
        top: 20px;
        right: 35px;
        color: $text-color;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }
}

.tab {
    overflow: hidden;
    border: 1px solid $border-color;
    background-color: $tab-bg-color;
    position: relative;

    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        color: $text-color;

        &:hover {
            background-color: $tab-hover-bg-color;
        }

        &.active {
            background-color: $tab-active-bg-color;
        }
    }
    .user-info {
        position: absolute;
        right: 20px; // Adjust this value as needed for spacing from the right edge
        top: 50%;
        transform: translateY(-50%); // Vertically center align
        display: flex;
        align-items: center;

        p {
            color: $text-color;
            margin: 0;
            display: flex;
            align-items: center;

            a {
                color: $submit-btn-color;
                text-decoration: none;
                padding: 5px 10px;
                border-radius: 4px;
                background-color: rgba($color: $submit-btn-color, $alpha: 0.2);
                margin-left: 10px; // Space between username and logout button

                &:hover {
                    background-color: rgba($color: $submit-btn-hover-color, $alpha: 0.2);
                }
            }
        }
    }
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid $border-color;
    border-top: none;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); // 6 images wide
    gap: 10px;

    .aspect-ratio-box {
        position: relative;
        width: 100%;
        &:before {
            content: '';
            display: block;
            padding-top: 100%; // This creates a square aspect ratio
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain; // Adjusts for different aspect ratios without distortion
            cursor: pointer;
        }
    }
}

// Info list

.grid-modal {
    .modal-content-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%; // Ensure the wrapper takes full height of the modal

        .modal-content {
            width: 70%; // Adjust as per your layout needs
            max-height: 100%; // Max height to prevent overflow
            object-fit: contain; // Ensure the image is scaled properly
            margin: auto 0; // Center the image vertically within the wrapper
        }

        .info-panel {
            width: 30%; // Adjust as per your layout needs
            background-color: $tab-bg-color;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-y: auto; // For scrollable content

            .prompt-value {
                font-family: 'Inter', sans-serif;
                text-align: left;
                justify-content: space-between;
                width: 100%;
                border: 2px solid #4b4b4b; // Add a border, change color as needed
                background-color: rgba($color: #fff, $alpha: 0.1);
                padding: 5px; // Add some padding for visual spacing
                border-radius: 4px; // Optional, for rounded corners
                display: inline-block;
            }

            .info-item {
                width: 100%; // Ensure items take full width of the panel
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                padding: 10px;
                border-bottom: 1px solid $border-color;

                &:last-child {
                    border-bottom: none;
                }

                span {
                    color: $text-color;
                    font-size: 16px;

                    &:first-child {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.grid-nav-buttons {
    padding: 10px 10px;
    border-radius: 4px;
    margin-right: 20px;
    font-size: x-large;
}

.error-dialog {
    display: flex;
    align-items: center; // Aligns icon and text vertically
    background-color: #ff4d4f; // Stylish red background
    color: white; // White text for better readability
    padding: 10px 20px;
    border-radius: 8px; // Modern rounded corners
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
    margin: 10px 0; // Spacing from other elements

    .error-icon {
        margin-right: 10px; // Space between icon and text
        font-size: 20px; // Larger icon size
    }

    .error-text {
        font-size: 16px; // Readable text size
        font-family: 'Roboto', sans-serif; // Consistent with the theme
    }
}

.login-form {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: $input-bg-color;
    border-radius: 8px;
    text-align: center;

    input[type="text"] {
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid $border-color;
        border-radius: 4px;
        background-color: rgba($color: $input-bg-color, $alpha: 0.5);
        color: $text-color;
    }

    input[type="submit"] {
        width: 90%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: $submit-btn-color;
        color: $text-color;
        cursor: pointer;

        &:hover {
            background-color: $submit-btn-hover-color;
        }
    }
}

// Chat

.chat-container {
    display: flex;
    height: 80vh;
    background-color: $background-color;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar {
    width: 250px;
    background-color: $tab-bg-color;
    padding: 20px;
    margin-right: 20px;
}

.ai-message {
    padding: 10px;
    margin-bottom: 10px; // Keeps space between messages
    border-bottom: 1px solid $border-color; // Thin separator line

    &:last-child {
        border-bottom: none; // Removes separator from last message
    }
}

.conversation-item {
    padding: 15px;
    white-space: pre;
    cursor: pointer;
    transition: background-color 0.3s ease; // Smooth transition for background color
    border-bottom: 1px solid $border-color; // Thin separator line

    &:hover {
        background-color: $tab-active-bg-color; // Change on hover
    }

    &:last-child {
        border-bottom: none; // Removes separator from last message
    }
}

.chat-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    li p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#chat-history {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px; // Reduced margin to accommodate input area
    background-color: $modal-bg-color;
    padding: 10px;
    box-sizing: border-box;
}

.input-area {
    display: flex;
    align-items: center;
}

textarea#chat-input {
    flex-grow: 1;
    resize: none;
    margin-right: 10px; // Spacing between textarea and button
}

button#send-chat {
    padding: 10px 15px; // Adjust padding as needed
    background-color: $submit-btn-color;
    color: $text-color;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: $submit-btn-hover-color;
    }
}

/* Example CSS for grid navigation buttons inside the modal */
.grid-nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
}
#grid-prev {
    left: 10px;
}
#grid-next {
    right: 10px;
}