<!DOCTYPE html>
<html>

<head>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>DALL-E Image Generator</title>
</head>

<body>
    <div class="tab">
        <button id="generationTab" class="tablinks">Generation</button>
        <button id="gridViewTab" class="tablinks">Grid View</button>
    </div>
    
    <div id="Generation" class="tabcontent">
        <form id="prompt-form">
            <label for="size">Select Size:</label>
            <select name="size" id="size">
                <option value="1024x1024">1024x1024 (Square)</option>
                <option value="1792x1024">1792x1024 (Landscape)</option>
                <option value="1024x1792">1024x1792 (Portrait)</option>
            </select><br><br>
    
            <label for="quality">Select Quality:</label>
            <select name="quality" id="quality">
                <option value="standard">standard</option>
                <option value="hd">HD</option>
            </select><br><br>
    
            <label for="style">Select Style:</label>
            <div id="styleDescription" style="font-size: medium;">(Vivid causes the model to lean towards generating hyper-real and dramatic images.)</div>
            <select name="style" id="style">
                <option value="vivid">Vivid</option>
                <option value="natural">Natural</option>
            </select>
            <br><br>
    
            <div>Enter Prompt:</div>
            <textarea name="prompt" id="prompt" maxlength="4000" rows="4" cols="50" spellcheck="true"></textarea>
            <div id="charCount">0 / 4000</div>
            <div class="prompt-checkbox-group">
                <input type="checkbox" id="add-follow-prompt" class="prompt-checkbox" name="add-follow-prompt">
                <label class="prompt-checkbox-label" id="add-follow-prompt">Strictly follow prompt</label>
            </div>
            <br><br>
            <input type="submit" value="Generate Image">
        </form>
    
        <!--Filled in at runtime see result-section.html template-->
        <div id="result-section"></div>
    </div>
    <div id="GridView" class="tabcontent">
        <div class="image-grid">
            <!-- Images will be loaded here -->
        </div>
        <div id="grid-image-modal" style="display:none" class="modal grid-modal">
            <span id="grid-image-close" class="close">&times;</span>
            <div class="modal-content-wrapper">
                <img class="modal-content" id="grid-modal-image">
                <div class="info-panel" id="grid-info-panel">
                    <!--Populated in TypeScript at runtime-->
                </div>
            </div>
        </div>
        <button id="firstGrid">&laquo;</button>
        <button id="previousGrid">&lsaquo;</button>
        <button id="nextGrid">&rsaquo;</button>
        <button id="lastGrid">&raquo;</button>
        <div id="gridPageNum">Page 1/X</div>
    </div>
</body>

</html>