<!DOCTYPE html>
<html>

<head>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/showdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atom-one-dark-reasonable.min.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>AI Multi-tool</title>
</head>

<body>
    <div class="tab">
        <button id="generationTab" class="tablinks">Image</button>
        <button id="gridViewTab" class="tablinks">Grid View</button>
        <button id="chatTab" class="tablinks">Chat</button>

        {% if 'username' in session %}
            <div class="user-info">
                <p>Logged in as: {{ session['username'] }} <a href="{{ url_for('logout') }}">Logout</a></p>
            </div>
        {% endif %}
    </div>
    
    <div id="Generation" class="tabcontent">
        <form id="prompt-form">
            <label for="provider" >Select Provider:</label>
            <select name="provider" id="provider">
                <option value="openai">OpenAI (DALL-E 3)</option>
                <option value="stabilityai">Stability AI (Stable Diffusion 3)</option>
                <option value="novelai">NovelAI</option>
            </select><br><br>

            <label for="size" class="openai novelai">Select Size:</label>
            <select name="size" id="size" class="openai novelai">
                <option value="1024x1792" class="openai">1024x1792 (Portrait)</option>
                <option value="1024x1024" class="openai">1024x1024 (Square)</option>
                <option value="1792x1024" class="openai">1792x1024 (Landscape)</option>
                <option value="832x1216" class="novelai">832x1216 (Portrait)</option>
                <option value="1024x1024" class="novelai">1024x1024 (Square)</option>
                <option value="1216x832" class="novelai">1216x832 (Landscape)</option>
            </select><br class="openai"><br class="openai novelai">

            <label for="aspect_ratio" class="stabilityai">Aspect Ratio:</label>
            <select name="aspect_ratio" id="aspect_ratio" class="stabilityai">
                <option value="1:1">1:1 (Square)</option>
                <option value="16:9">16:9 (Landscape)</option>
                <option value="21:9">21:9 (Landscape)</option>
                <option value="3:2">3:2 (Landscape)</option>
                <option value="5:4">5:4 (Landscape)</option>
                <option value="2:3">2:3 (Portrait)</option>
                <option value="4:5">4:5 (Portrait)</option>
                <option value="9:16">9:16 (Portrait)</option>
                <option value="9:21">9:21 (Portrait)</option>
            </select><br class="stabilityai"><br class="stabilityai">
    
            <label for="quality" class="openai">Select Quality:</label>
            <select name="quality" id="quality" class="openai">
                <option value="standard">standard</option>
                <option value="hd">HD</option>
            </select><br class="openai"><br class="openai">
    
            <label for="style" class="openai">Select Style:</label>
            <div id="styleDescription" style="font-size: medium;" class="openai">(Vivid causes the model to lean towards generating hyper-real and dramatic images.)</div>
            <select name="style" id="style" class="openai">
                <option value="vivid">Vivid</option>
                <option value="natural">Natural</option>
            </select>
            <br class="openai"><br class="openai">

            <label for="seed" class="stabilityai">Select Seed (0 means random):</label>
            <input name="seed" id="seed" type="number" value="0" min="0" max="4294967294" step="1" class="stabilityai novelai"/>
            <div class="prompt-checkbox-group stabilityai novelai">
                <input type="checkbox" id="upscale" class="prompt-checkbox stabilityai novelai" name="upscale">
                <label class="prompt-checkbox-label stabilityai novelai" for="upscale" id="upscale">Upscale</label>
            </div>
            <br class="stabilityai"><br class="stabilityai novelai">

            <!-- TODO: Need to fix, the Stability AI max length is 10,000 characters, not 4000 -->
            <div>Enter Prompt:</div>
            <textarea name="prompt" id="prompt" maxlength="4000" rows="8" cols="50" spellcheck="true"></textarea>
            <div id="charCount">0 / 4000</div>
            <div class="stabilityai novelai">Enter Negative Prompt:</div>
            <textarea name="negative_prompt" id="negative_prompt" class="stabilityai novelai negativeprompt" maxlength="4000" rows="8" cols="50" spellcheck="true"></textarea>
            <div class="prompt-checkbox-group openai">
                <input type="checkbox" id="add-follow-prompt" class="prompt-checkbox openai" name="add-follow-prompt">
                <label class="prompt-checkbox-label openai" for="add-follow-prompt" id="add-follow-prompt">Strictly follow prompt</label>
            </div>
            <br><br>
            <input class="submit-button" type="submit" value="Generate Image">
            <img id="loading-spinner" width="80" height="80" src="{{ url_for('static', filename='assets/Chunk-4s-200px.png') }}">
        </form>
    
        <!--Filled in at runtime see result-section.html template-->
        <div id="result-section"></div>
    </div>
    <div id="GridView" class="tabcontent">
        <div class="image-grid">
            <!-- Images will be loaded here -->
        </div>
        <div id="grid-image-modal" style="display:none" class="modal grid-modal">
            <span id="grid-image-close" class="close">&times;</span>
            <div class="modal-content-wrapper">
                <img class="modal-content" id="grid-modal-image">
                <div class="info-panel" id="grid-info-panel">
                    <!--Populated in TypeScript at runtime-->
                </div>
            </div>
        </div>
        <button class="grid-nav-buttons" id="firstGrid">&laquo;</button>
        <button class="grid-nav-buttons" id="previousGrid">&nbsp;&lsaquo;&nbsp;</button>
        <button class="grid-nav-buttons" id="nextGrid">&nbsp;&rsaquo;&nbsp;</button>
        <button class="grid-nav-buttons" id="lastGrid">&raquo;</button>
        <div id="gridPageNum">Page 1/X</div>
    </div>
    <div id="Chat" class="tabcontent">
        <div class="chat-container">
            <div id="sidebar" class="sidebar">
                <div id="conversations-list"><!-- Populated in TypeScript at runtime --></div>
            </div>
            <div class="chat-content">
                <div id="chat-history"><!-- Populated in TypeScript at runtime --></div>
                <div id="chat-current-status">Awaiting Input...</div>
                <div class="input-area">
                    <textarea id="chat-input" placeholder="Type your message here..."></textarea>
                    <button id="send-chat">Send</button>
                </div>
            </div>
        </div>
    </div>
    <a href="https://loading.io/icon/" target="_blank" rel="noopener noreferrer">Loading icon 'chunk' from loading.io</a>
</body>

</html>